commands:
  01_update_epel:
    command: sudo rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm

  02_install_sshfs:
    command: sudo yum -y install sshfs

  03_create_mount_directory:
    command: mkdir /mnt/nfs

  04_mount_sftp_server:
    command: |
      SFTP_PASSWORD=$(sudo /opt/elasticbeanstalk/bin/get-config environment -k SFTP_PASSWORD)
      echo "$SFTP_PASSWORD" > /tmp/credentials
      sudo sshfs -o allow_other,StrictHostKeyChecking=no,password_stdin sftp-user@172.18.0.12:/ /mnt/nfs < /tmp/credentials
      rm /tmp/credentials

  05_restart_docker:
    command: sudo service docker restart
