commands:
  01_update_epel:
    command: sudo amazon-linux-extras install epel -y

  02_install_sshfs:
    command: sudo yum -y install sshfs

  03_create_mount_directory:
    command: mkdir /mnt/nfs

  04_download_remount_script:
    command: |
      wget -O /home/ec2-user/remount_sftp.sh https://raw.githubusercontent.com/sealink/quickprint/master/bin/remount_sftp.sh
      chmod +x /home/ec2-user/remount_sftp.sh

  05_mount_sftp_server:
    command: /home/ec2-user/remount_sftp.sh
