commands:
  01_install_sshfs:
    command: sudo apt-get update && sudo apt-get install -y sshfs

  02_create_mount_directory:
    command: mkdir /mnt/nfs

  03_mount_sftp_server:
    command: |
      echo "sftp-user:$SFTP_PASSWORD" > /tmp/credentials
      sudo sshfs -o password_stdin sftp-user@172.18.0.12:/ /mnt/nfs < /tmp/credentials
      rm /tmp/credentials

  04_enable_sshfs_on_boot:
    command: |
      echo 'sshfs#sftp-user@172.18.0.12:/ /mnt/nfs fuse.reconnect,allow_other 0 0' | sudo tee -a /etc/fstab

  05_restart_docker:
    command: service docker stop && service docker start
