files:
  "/etc/init.d/run_on_startup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ### BEGIN INIT INFO
      # Provides:          run_on_startup.sh
      # Required-Start:    $local_fs $remote_fs
      # Required-Stop:
      # Default-Start:     2 3 4 5
      # Default-Stop:
      # Short-Description: My Custom Startup Script
      ### END INIT INFO

      echo "$1" >> "/tmp/hello-$(date +"%d-%m-%Y").txt"
      case "$1" in
          start)
              echo "Starting run_on_startup..."
              /home/ec2-user/remount_sftp.sh
              ;;
          stop)
              echo "Umount /mnt/nfs endpoint..."
              umount /mnt/nfs/
              ;;
          restart)
              $0 stop
              $0 start
              ;;
          *)
              echo "Usage: $0 {start|stop|restart}"
              exit 1
      esac

      exit 0

commands:
  01_run_on_startup:
    command: chmod +x /etc/init.d/run_on_startup.sh
  02_run_on_startup:
    command: |
      chkconfig --add run_on_startup.sh
      chkconfig --level 2345 run_on_startup.sh on 