files:
  "/etc/init.d/run_on_startup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /home/ec2-user/remount_sftp.sh

commands:
  01_run_on_startup:
    command: "chmod +x /etc/init.d/run_on_startup.sh"
  02_run_on_startup:
    command: "/etc/init.d/run_on_startup.sh"